.spoiler {
  display: inline;
}
p.spoiler {
  display: flex;
}
.spoiler a {
  pointer-events: none;
}
.spoiler-blur,
.spoiler-blur > * {
  transition: text-shadow .5s ease;
}
.spoiler .spoiler-blur,
.spoiler .spoiler-blur > * {
  color: rgba(0, 0, 0, 0);
  background-color: rgba(0, 0, 0, 0);
  text-shadow: 0 0 10px grey;
  cursor: pointer;
}
.spoiler .spoiler-blur:hover,
.spoiler .spoiler-blur:hover > * {
  text-shadow: 0 0 5px grey;
}
.spoiler-box,
.spoiler-box > * {
  transition: color .5s ease, background-color .5s ease;
}
.spoiler .spoiler-box,
.spoiler .spoiler-box > * {
  color: black;
  background-color: black;
  text-shadow: none;
}
